<div class="row">
  <div class="col-12">
    <form [formGroup]="form" (submit)="submit()">
      <div class="card">
        <div *ngIf="!isSubmitted">
          <div *ngIf="dynamicInputFormGroup?.length">
            <div class="card-header">Dynamic Form</div>
            <div class="card-body" formArrayName="dynamicInputs">
              <div class="row">
                <div class="col-12" *ngFor="let dynamicInput of dynamicInputFormGroup.controls; let i = index;">
                  <div [formGroupName]="i" class="row">
                    <div class="form-group col-5">
                      <label>Type of Input</label>

                      <select (change)="changedFieldType(i)" class="form-control" formControlName="type" type="text">
                        <option value="email">Email</option>
                        <option value="number">Phone</option>
                        <option value="date">Date </option>
                        <option value="time">Time </option>
                        <option value="datetime">DateTime </option>
                        <option value="text">text</option>
                      </select>
                      <span class="text-danger"
                        *ngIf="getDynamicInputsFormGroup(i).controls['type'].touched && getDynamicInputsFormGroup(i).controls['type'].hasError('required')">
                        Type is required! </span>
                    </div>
                    <div class="form-group col-5">
                      <label>Name of Label</label>
                      <input class="form-control" formControlName="name" type="text">
                      <span class="text-danger"
                        *ngIf="getDynamicInputsFormGroup(i).controls['name'].touched && getDynamicInputsFormGroup(i).controls['name'].hasError('required')">
                        Name of Label is required! </span>

                    </div>
                    <div class="form-group col-md-2 m-auto">
                      <a (click)="addDynamicInput(getDynamicInputsFormGroup(i).controls['name'],getDynamicInputsFormGroup(i).controls['name']) "
                        class="btn btn-success m-1">
                        Add new Input
                      </a>
                      <a *ngIf=" dynamicInputFormGroup?.length !== 1" (click)="removeDynamicInput(i)"
                        class="btn btn-danger">
                        Remove
                      </a>
                    </div>




                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="col-12">
              <button class="btn btn-success m-1" type="submit" > Save </button>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                <strong> {{form.value |json}}</strong>

                <!-- [disabled]="!form.valid" -->
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="isSubmitted">
          <div class="card-header">Dynamic Form</div>
          <div class="card-body" formArrayName="dynamicInputs">
            <div class="row">
              <div class="col-6" *ngFor="let dynamicInput of dynamicInputFormGroup.controls; let i = index;">
                <div [formGroupName]="i" class="row">

                  <div *ngIf="getDynamicInputsFormGroup(i).controls['type'].value == 'number'"  class="form-group col-12">
                    <label>{{getDynamicInputsFormGroup(i).controls['name'].value}}</label>
                    <input class="form-control" formControlName="value" type="number">
                    <span class="text-danger"
                      *ngIf="getDynamicInputsFormGroup(i).controls['value'].touched && getDynamicInputsFormGroup(i).controls['value'].hasError('required')">
                      {{getDynamicInputsFormGroup(i).controls['name'].value}} is required! </span>

                  </div>
                 
                  
                  <div *ngIf="getDynamicInputsFormGroup(i).controls['type'].value == 'date'"  class="form-group col-12">
                    <label>{{getDynamicInputsFormGroup(i).controls['name'].value}}</label>
                    <input class="form-control" formControlName="value" type="date">
                    <span class="text-danger"
                      *ngIf="getDynamicInputsFormGroup(i).controls['value'].touched && getDynamicInputsFormGroup(i).controls['value'].hasError('required')">
                      {{getDynamicInputsFormGroup(i).controls['name'].value}} is required! </span>

                  </div>
                  <div *ngIf="getDynamicInputsFormGroup(i).controls['type'].value == 'time'"  class="form-group col-12">
                    <label>{{getDynamicInputsFormGroup(i).controls['name'].value}}</label>
                    <input class="form-control" formControlName="value" type="time">
                    <span class="text-danger"
                      *ngIf="getDynamicInputsFormGroup(i).controls['value'].touched && getDynamicInputsFormGroup(i).controls['value'].hasError('required')">
                      {{getDynamicInputsFormGroup(i).controls['name'].value}} is required! </span>

                  </div>
                  <div *ngIf="getDynamicInputsFormGroup(i).controls['type'].value == 'datetime'"  class="form-group col-12">
                    <label>{{getDynamicInputsFormGroup(i).controls['name'].value}}</label>
                    <input class="form-control" formControlName="value" type="datetime">
                    <span class="text-danger"
                      *ngIf="getDynamicInputsFormGroup(i).controls['value'].touched && getDynamicInputsFormGroup(i).controls['value'].hasError('required')">
                      {{getDynamicInputsFormGroup(i).controls['name'].value}} is required! </span>

                  </div>

                  <div *ngIf="getDynamicInputsFormGroup(i).controls['type'].value == 'email'"  class="form-group col-12">
                    <label>{{getDynamicInputsFormGroup(i).controls['name'].value}}</label>
                    <input class="form-control" formControlName="value" type="email">
                    <span class="text-danger"
                      *ngIf="getDynamicInputsFormGroup(i).controls['value'].touched && getDynamicInputsFormGroup(i).controls['value'].hasError('required')">
                      {{getDynamicInputsFormGroup(i).controls['name'].value}} is required! </span>

                  </div>
                  <div *ngIf="getDynamicInputsFormGroup(i).controls['type'].value == 'text'"  class="form-group col-12">
                    <label>{{getDynamicInputsFormGroup(i).controls['name'].value}}</label>
                    <input class="form-control" formControlName="value" type="text">
                    <span class="text-danger"
                      *ngIf="getDynamicInputsFormGroup(i).controls['value'].touched && getDynamicInputsFormGroup(i).controls['value'].hasError('required')">
                      {{getDynamicInputsFormGroup(i).controls['name'].value}} is required! </span>

                  </div>
                  
              
                </div>
              </div>

            </div>
          </div>
          <div class="card-body">
            <div class="col-12">
              <button class="btn btn-success m-1" type="submit"> Save </button>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-md-12">
                <strong> {{form.value |json}}</strong>

                <!-- [disabled]="!form.valid" -->
              </div>
            </div>
          </div>
        </div>





      </div>
    </form>
  </div>
</div>