<div class="row">
  <div class="col-12">
    <form [formGroup]="form" (submit)="submit()">
      <div class="card">
        <div class="card-header">User Profile</div>
        <div class="card-body">
          <div class="row">
            <div class="form-group col-6">
              <label>Name</label>
              <input class="form-control" formControlName="name" type="text">
              <span class="text-danger"
                *ngIf="form.controls['name'].touched && form.controls['name'].hasError('required')">
                Name is required! </span>
            </div>
            <div class="form-group col-6">
              <label>Organization</label>
              <input class="form-control" formControlName="organization" type="text">
              <span class="text-danger"
                *ngIf="form.controls['organization'].touched && form.controls['organization'].hasError('required')">
                Name is required! </span>
            </div>
          </div>
        </div>
        <div *ngIf="contactFormGroup.length">
          <div class="card-header">Contact Information</div>
          <div class="card-body" formArrayName="contacts">
            <div class="row">
              <div class="col-12" *ngFor="let contact of contactFormGroup.controls; let i = index;">
                <div [formGroupName]="i" class="row">
                  <div class="form-group col-6">
                    <label>Type of Contact</label>
                    <select (change)="changedFieldType(i)" class="form-control" formControlName="type" type="text">
                      <option value="email">Email</option>
                      <option value="phone">Phone</option>
                      <option value="date">Date Of Birth</option>
                    </select>
                  </div>
                  <div class="form-group col-6">
                    <label>Contact Label</label>

                    <input class="form-control" formControlName="name" type="text">
                    <span class="text-danger"
                      *ngIf="getContactsFormGroup(i).controls['name'].touched && getContactsFormGroup(i).controls['name'].hasError('required')">
                      Label is required! </span>
                  </div>

                  <div *ngIf="getContactsFormGroup(i).controls['type'].value==='date'" class="form-group col-6">
                    <label>Date of Birth</label>

                    <input class="form-control" formControlName="value" type="date">
                    <span class="text-danger"
                      *ngIf="getContactsFormGroup(i).controls['value'].touched && getContactsFormGroup(i).controls['value'].hasError('required')">
                      Date of Birth is required! </span>
                  </div>

                  <div class="form-group col-6">
                    <label>Email/Phone No.</label>
                    <input class="form-control" formControlName="value" type="text">
                    <span class="text-danger"
                      *ngIf="getContactsFormGroup(i).controls['value'].touched && getContactsFormGroup(i).controls['value'].hasError('required')">
                      Email/Phone no is required! </span>
                    <span class="text-danger"
                      *ngIf="getContactsFormGroup(i).controls['value'].touched && getContactsFormGroup(i).controls['value'].hasError('email')">
                      Email is not valid! </span>
                    <span class="text-danger"
                      *ngIf="getContactsFormGroup(i).controls['value'].touched && getContactsFormGroup(i).controls['value'].hasError('pattern')">
                      Phone no. is not valid! </span>
                  </div>
                  <div class="form-group col-12 text-right">
                    <button class="btn btn-primary m-1" type="button"   (click)="addContact()"> Add Contact </button>

                    <button class="btn btn-danger" type="button"  (click)="removeContact(i)"> Remove Contact </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div *ngIf="skillFormGroup.length">
          <div class="card-header">Skills</div>
          <div class="card-body" formArrayName="skills">
            <div class="row">

              <div class="col-12" *ngFor="let skill of skillFormGroup.controls; let i = index;">
                <div [formGroupName]="i" class="row">
                  <div class="form-group col-6">
                    <label>Skill</label>
                    <input class="form-control" formControlName="skill" type="text">
                    <span class="text-danger"
                      *ngIf="getSkillsFormGroup(i).controls['skill'].touched && getSkillsFormGroup(i).controls['skill'].hasError('required')">
                      Label is required! </span>
                  </div>
                  <div class="form-group col-6">
                    <label>experience</label>
                    <input class="form-control" formControlName="experience" type="text">
                    <span class="text-danger"
                      *ngIf="getSkillsFormGroup(i).controls['experience'].touched && getSkillsFormGroup(i).controls['experience'].hasError('required')">
                      Label is required! </span>
                  </div>
                  <div class="form-group col-6">
                    <label>proficiency</label> <br>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" value="entry level" [id]="'entrylevel'+i" formControlName="proficiency"
                        class="custom-control-input">
                      <label class="custom-control-label" [for]="'entrylevel'+i">Entry Level</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" value="good" [id]="'good'+i" formControlName="proficiency"
                        class="custom-control-input">
                      <label class="custom-control-label" [for]="'good'+i">Good</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" value="Experienced" [id]="'Experienced'+i" formControlName="proficiency"
                        class="custom-control-input">
                      <label class="custom-control-label" [for]="'Experienced'+i">Experienced</label>
                    </div>
                    <span class="text-danger"
                      *ngIf="getSkillsFormGroup(i).controls['proficiency'].touched && getSkillsFormGroup(i).controls['proficiency'].hasError('required')">
                      Label is required! </span>
                  </div>


                  <div class="form-group col-12 text-right">
                    <button class="btn btn-primary m-1" type="button" (click)="addSkill()"> Add Skill </button>

                    <button class="btn btn-danger" type="button"    (click)="removeSkill(i)"> Remove Skill </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="col-12">
            <button class="btn btn-success m-1" type="submit"> Save User Profile </button>
            <button class="btn btn-success m-1" (click)="onReset()"> Reset</button>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-md-12">
              <strong> {{getForm()}}</strong>
              <strong> {{getContacts()}}</strong>

              <!-- [disabled]="!form.valid" -->
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>