<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" >Dynamic Form</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto" >
        <a class="nav-link "  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" routerLinkActive="active" routerLink="/build-form">Build Your Form</a>
       
      </div>
    </div>
  </nav>